.creative {
  & > h2 {
    font-size: 4rem;
    text-align: center;

    & > span {
      color: $primary;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & p {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: justify;
    }

    & > * {
      flex: 0 1 50%;
    }
  }
}

@media (max-width: 1199.98px) {
  .creative {
    & > h2 {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }
}

@media (max-width: 767.98px) {
  .creative {
    & > div {
      & img {
        width: 10rem;
      }
    }
  }
}
