.header-dark {
  height: 41.875rem;
  background-color: $dark;
  color: $light;
  position: relative;
  margin-bottom: 10rem;

  & section {
    flex: 1;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

@media (max-width: 1199.98px) {
  .header-dark {
    height: 38rem;

    & > div {
      gap: 0;
    }
  }
}
