.welcome {
  flex: 1;

  display: flex;
  align-items: center;

  & > div {
    & h1 {
      color: $primary;
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 2rem;

      &.light {
        color: $dark;
      }
      &.dark {
        color: $light;
      }
    }

    & p {
      font-size: 1.5rem;
      font-weight: 700;

      &.light {
        color: $dark;
      }
      &.dark {
        color: $light;
      }
    }
  }
}
