.line-1 {
  position: absolute;
  top: 38%;
  left: 16%;
  //   transform: translate(0, 40%);
}

@include respond(large-desktop) {
  .line-1 {
    top: 41%;
    left: 19%;
    & > svg {
      width: 200px;
    }
  }
}

@include respond(desktop) {
  .line-1 {
    top: 22%;
    left: 23%;
    & > svg {
      width: 200px;
    }
  }
}

@include respond(tab-land) {
  .line-1 {
    left: 30%;
  }
}

@include respond(phone) {
  .line-1 {
    top: 21%;
    left: 40%;
    & > svg {
      width: 200px;
    }
  }
}
