.offer {
  display: flex;
  align-items: center;
  margin: 4rem 0;

  & > div {
    flex: 0 1 50%;

    &:first-child {
      & > h2 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2rem;

        & > span {
          color: $primary;
        }
      }

      & > p {
        font-size: 1.5rem;
      }
    }
  }
}
