.header-light {
  height: 41.875rem;
  background: rgb(46, 196, 182);
  background: linear-gradient(180deg, rgba(46, 196, 182, 1) 0%, rgba(253, 255, 252, 1) 100%);
  position: relative;
  color: $light;
  margin-bottom: 10rem;

  & section {
    flex: 1;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
