.wave-10 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  & > img {
    width: 100%;
    transform: translate(1%, -50%);
  }
}

@media (max-width: 1880px) {
  .wave-10 {
    & > img {
      transform: translate(0%, -50%);
    }
  }
}

:dir(rtl) {
  .wave-10 {
    transform: rotateY(180deg);
  }
}

// :dir(rtl) {
//   .wave-10 {
//     & > img {
//       display: none;
//       // transform: rotateY(180deg);
//     }
//   }
// }
