.story {
  display: flex;
  margin: 4rem 0;

  & > div {
    flex: 0 1 50%;

    &:last-child {
      & > h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
        & > span {
            color: $primary;
        }
      }

      & > p {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}

@media(max-width: 1400px){
  .story {
    & > div {

      & img {
        width: 30rem ;
      }

      & h2 {
        font-size: 3rem !important;
      }

      & p {
        font-size: 1rem !important;
      }
    }
  }
}

@media(max-width: 1200px){
  .story {
    & > div {

      & img {
        width: 25rem ;
      }

      & h2 {
        font-size: 2.4rem !important;
      }

      & p {
        font-size: 1rem !important;
      }
    }
  }
}

@media(max-width: 992px){
  .story {
    // flex-direction: column;
    & > div {

      & img {
        width: 20rem ;
      }

      & h2 {
        font-size: 2rem !important;
      }

      & p {
        font-size: 1rem !important;
      }
    }
  }
}

@media (max-width: 768px) { 
  .story {
    flex-direction: column;
    align-items: center;
  }
}