.developers {
  background-color: $dark;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 2rem;
  color: $light;
  text-align: center;

  .header {
    position: relative;
    text-align: center;
    & > h3 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 4rem;
    }

    & > select {
      position: absolute;
      bottom: 0;
      right: 0;
      border: 0;
      border-bottom: 2px solid $light;
      padding-bottom: 0.5rem;
      background-color: transparent;
      color: $light;
      font-size: 1.6rem;

      & option {
        color: $dark;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .dev-body {
    overflow-y: auto;
    max-height: 700px;
    &::-webkit-scrollbar {
      width: 8px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #a227d1; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #ca4ffa; 
    }
  
  }

  & > div:last-child {
    display: flex;
    gap: 2%;
    row-gap: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;

    & .developer-card {
      & h3 {
        &:nth-child(2) {
          font-size: 1.8rem;
        }
        &:last-child {
          font-size: 1.25rem;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .developers {
    .header {
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;

      & > h3 {
        margin-bottom: 1rem;
      }

      & > select {
        align-self: flex-end;
        position: static;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .developers {
    .header {
      & > h3 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .developers {
    & > div:last-child {
      justify-content: space-evenly;
    }
  }
}
