.developers {
  background-color: $dark;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 2rem;
  color: $light;
  text-align: center;

  & > h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  & > div {
    display: flex;
    gap: 2%;
    row-gap: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;

    & .developer-card {
      & p {
        &:nth-child(2) {
          font-size: 1.5rem;
        }
        &:last-child {
          font-size: 1.25rem;
          font-weight: 300;
        }
      }
    }
  }
}
