.join {
  position: relative;
  & > div {
    & > h2 {
      font-size: 4rem;
      text-align: center;

      & > span {
        color: $primary;
      }
    }
  }
  .arrow {
    position: absolute;
    top: -50px;
    right: 0;
  }
}

@media (max-width: 991.98px) {
  .join {
    & > div {
      & > h2 {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .join {
    & > div {
      & > h2 {
        font-size: 2rem;
      }
    }
  }
}
