.leadership {
  & > h3 {
    font-size: 3rem;
    font-weight: 500;
    color: $light;
    text-align: center;
    margin-bottom: 3rem;
  }

  & .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 991.98px) {
  .leadership {
    & .cards {
      justify-content: space-evenly;
      row-gap: 2rem;
    }
  }
}

@media (max-width: 767.98px) {
  .leadership {
    & > h3 {
      font-size: 2rem;
    }
  }
}
