@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$dark: #011627;
$light: #fdfffc;
$primary: #2ec4b6;
$secondary: #b48af0;
$gray: #7d7d7d;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Space Mono", monospace;
