.join-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 4rem 0;
  font-size: 1.6rem;

  & .col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      flex: 0 1 45%;
    }
  }

  & .form-control {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    
    & label {
      text-transform: capitalize;
    }
    
    & input,
    & textarea {
      border: 0;
      outline: 0;
      border-bottom: 2px solid #ccc;
      font-size: 1.1rem !important;
    }
    
    & input {
      height: 2rem;
      font-size: 1.1rem !important;
    }
  }

  & .submit {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    justify-content: center;

    & button {
      border: 0;
      background-color: $dark;
      color: $light;
      padding: 0.25rem 5rem;
      border-radius: 1rem;
      font-size: 2.125rem;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 1199.98px) {
  .join-form {
    & .submit {
      & button {
        padding: 0.5rem 4rem;
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .join-form {
    font-size: 1.2rem;

    & .form-control {
      gap: 0;
      margin-bottom: 3rem;
    }

    & .col-2 {
      flex-direction: column;
      gap: 0;

      & > div {
        align-self: stretch;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .join-form {
    & .submit {
      & button {
        padding: 0.5rem 3.4rem;
        font-size: 1rem;
      }
    }
  }
}
